autocorrect==2.6.1
contractions==0.1.73
imbalanced_learn==0.11.0
imblearn==0.0
matplotlib==3.7.2
mlxtend==0.22.0
nltk==3.8.1
numpy==1.24.4
pandas==2.0.3
scikit_learn==1.2.1
seaborn==0.12.2
spacy==3.6.0
statsmodels==0.14.0
streamlit==1.25.0
textblob==0.17.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl